<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
<section class="navbar">
    <div class="container">
        <div class="row">
            <div class="col-logo">
                <img src="./images/heros/log.jpg" width="70" alt="logo-navbar">
            </div>
            <div class="col-nav-menu">
                <ul class="nav">
                    <li>Home</li>
                    <li>Favourites</li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="jumbotron">
    <div class="jumbotron-title">
        <div class="container">
            <h3>Restaurant Cepat Saji</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro asperiores dolorem vero necessitatibus voluptate quasi autem quos commodi provident velit, architecto iure, cupiditate expedita quaerat quisquam dignissimos sint animi, modi nemo suscipit beatae inventore nostrum dolore officia. Libero ullam voluptatem laudantium reprehenderit facilis sequi expedita optio, accusamus inventore? Molestiae quas deserunt nihil ratione ex, perspiciatis totam. </p>
            <input class="search-resto" type="text" name="search" id="text" placeholder="Search your favourites resto here ...">
            <button class="btn-search-resto">Search</button>
        </div>
    </div>
    <div class="jumbotron-gradient"></div>
    <img src="./images/heros/hero-image_2.jpg" alt="hero">
</section>


<section class="container-section">
    <h3 class="title">Restaurant List</h3>
    <hr class="hr-underline">
    
    <div class="cards-section">
        <div class="test">
        </div>
        <div class="card">
            <img src="./images/heros/hero-image_1.jpg" alt="resto1">
            <div class="in-card">
                <h4>Waiting For You</h4>
                <button>Check In</button>
            </div>
        </div>
        <div class="card">
            <img src="./images/heros/hero-image_2.jpg" alt="resto2">
            <div class="in-card">
                <h4>Waiting For You</h4>
                <button>Check In</button>
            </div>
        </div>
        <div class="card">
            <img src="./images/heros/hero-image_3.jpg" alt="resto3">
            <div class="in-card">
                <h4>Waiting For You</h4>
                <button>Check In</button>
            </div>
        </div>
        <div class="card">
            <img src="./images/heros/hero-image_4.jpg" alt="resto1">
            <div class="in-card">
                <h4>Waiting For You</h4>
                <button>Check In</button>
            </div>
        </div>
    </div>  
    
    
    <section class="footer">
        <h3>Copyright@Restaurant-Hunter Apps | Allrights reserved | 2021</h3>
    </section>
</section>




</body>
</html>
