<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>

<div class="nav-desktop">
    <h1 class="logo">RestoD</h1>
    <div class="nav">
        <a href="#">Home</a>
        <a href="#">Favorite</a>
        <a href="https://github.com/filzaharry/">About Us</a>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Home</a>
    <a href="#">Favorite</a>
    <a href="https://github.com/filzaharry/">About Us</a>
</div>
<p class="nav-icon" onclick="openNav()">&#9776;</p>

<section class="jumbotron">
    <div class="circle"></div>
    <div class="circle-2"></div>
    <div class="container">
        <h2 class="before-jumbotron">Discover</h2>
        <h2 class="before-jumbotron">Restaurant</h2>
    </div>
    <div class="jumbotron-title">
        <h3>The Soothing Dessert</h3>
        <div class="stars">
            <p style="display: inline-block; color: #FCC12D; font-size: 20px;">&#9733;</p>
            <p style="display: inline-block; color: #FCC12D; font-size: 20px;">&#9733;</p>
            <p style="display: inline-block; color: #FCC12D; font-size: 20px;">&#9733;</p>
            <p style="display: inline-block; color: #FCC12D; font-size: 20px;">&#9733;</p>
            <p style="display: inline-block; color: grey; font-size: 20px;">&#9734;</p>
            <p style="display: inline-block; margin-top: -5px;">(250 Reviews)</p>
        </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <button class="btn-jumbotron">Details</button>
           
    </div>
    <div class="img-container">
        <img src="./images/heros/hero-image_2.jpg" alt="hero">
    </div>
</section>

<div style="display: flex;
justify-content: center;">
<p style="color: #FCC12D;font-size: 30px;display: inline-block;padding: 10px;">&#8226;</p>
<p style="color: #FCC12D;font-size: 30px;display: inline-block;padding: 10px;">&#8226;</p>
<p style="color: #FCC12D;font-size: 30px;display: inline-block;padding: 10px;">&#8226;</p>
<p style="color: #FCC12D;font-size: 30px;display: inline-block;padding: 10px;">&#8226;</p>
</div>

<section class="container-section">
    <h3 class="title">Most Popular</h3>

    <div id="main-content" class="main-content">
        <section id="resto-list" class="resto-list"></section>
    </div>
    
    
    <section class="footer">
        <p>Copyright@Restaurant-Hunter Apps&#127840;| Allrights reserved | 2021</p>
    </section>
</section>

<script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script>


</body>
</html>
