<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Author: Filza Harry,
    Illustrator: Filza Harry, Category: Place, App Name: Resto-D,
    Length: 784 pages">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>

<a href="#maincontent" class="skip-link">Skip To Content</a>
<button class="nav-icon" onclick="openNav()">&#9776;</button>
<header id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a style="margin-top: 10px;" href="index.html"><div style="padding-top: 22px;padding-bottom: 22px; border: none; background-color: transparent;color: white;">Home</div></a>
  <a style="margin-top: 10px;" href="#"><div style="padding-top: 22px;padding-bottom: 22px; border: none; background-color: transparent;color: white;">Favorite</div></a>
  <a style="margin-top: 10px;" href="https://github.com/filzaharry/"><div style="padding-top: 22px;padding-bottom: 22px; border: none; background-color: transparent;color: white;">About Us</div></a>
</header>

<headers class="nav-desktop">
    <h1 class="logo">Resto-D</h1>
    <div class="nav">
        <a href="index.html" style="padding: 20px;">Home</a>
        <a href="#" style="padding: 20px;">Favorite</a>
        <a href="https://github.com/filzaharry/" style="padding: 20px;">About Us</a>
    </div>
</headers>




<section class="jumbotron">
    <div class="circle"></div>
    <div class="circle-2"></div>
      <h2 class="before-jumbotron">Discover Restaurant</h2>
        <div class="jumbotron-title">
            <h3>The Soothing Dessert</h3>
            <div class="stars">
                <p style="display: inline-block; color: #FCC12D; font-size: 20px;">&#9733;</p>
                <p style="display: inline-block; color: #FCC12D; font-size: 20px;">&#9733;</p>
                <p style="display: inline-block; color: #FCC12D; font-size: 20px;">&#9733;</p>
                <p style="display: inline-block; color: #FCC12D; font-size: 20px;">&#9733;</p>
                <p style="display: inline-block; color: grey; font-size: 20px;">&#9734;</p>
                <p style="display: inline-block; margin-top: -5px;">(250 Reviews)</p>
            </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                <a href="#" class="btn-jumbotron" style="padding: 15px 20px;">Details</a>
              
        </div>
    <div class="img-container">
        <img src="./images/heros/hero-image_2.jpg" alt="hero">
    </div>
</section>

<div style="display: flex;
justify-content: center;">
<p style="color: #FCC12D;font-size: 30px;display: inline-block;padding: 10px;">&#8226;</p>
<p style="color: #FCC12D;font-size: 30px;display: inline-block;padding: 10px;">&#8226;</p>
<p style="color: #FCC12D;font-size: 30px;display: inline-block;padding: 10px;">&#8226;</p>
<p style="color: #FCC12D;font-size: 30px;display: inline-block;padding: 10px;">&#8226;</p>
</div>

<main class="container-section" id="maincontent">
    <h3 class="title">Most Popular</h3>

    <div id="main-content" class="main-content">
        <section id="resto-list" class="resto-list"></section>
    </div>
    
    
    <footer class="footer">
        <p>Copyright@Restaurant-Hunter Apps&#127840;| Allrights reserved | 2021</p>
    </footer>
</main>

<script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>



</body>
</html>
